/* Reseteo de padding y margin */

* {
    margin: 0;
    padding: 0;
}

/* Importo fuente */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Body */

body {
    background-color: #28282B;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

/* Header */

header {
    border-bottom: 1px solid white;
    text-align: center;
    padding: 1rem 2rem;
    z-index: 10;
    background-image: url("../img/fondo.webp");
}

.logo {
    width: 10rem;
    background-color: #fff5ee;
    margin: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0.5rem 0rem;
}

nav ul li a {
    padding: 0.5rem 0.5rem;
}

/* Configuración para la página activa */
[aria-current="page"] {
    background-color: darkslategray;
    border-radius: 5rem;
}

/* Hover de la página activa */
[aria-current="page"]:hover {
    background-color: rgb(31, 51, 51);
}

nav ul li a:hover {
    background-color: hsla(195, 83%, 58%, 0.2);
    border-radius: 5rem;
}

/* Main */

main {
    margin-bottom: 3rem;
}

h1 {
    text-align: center;

    /* Fondo especial para títulos */
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;

    color: white;
    margin-bottom: 30px;
    font-size: 50px;
    text-transform: uppercase;
    padding: 20px;
}

h2 {
    text-align: center;
    color: white;
    margin: 20px 0;
    font-size: 30px;
    text-decoration: underline;
}

p {
    color: white;
    margin-top: 1rem;
}

section {
    text-align: center;
}

.titulo {
    background-color: darkslategray;
    border-radius: 30px;
    font-size: 30px;
    padding: 5px;
}

/* Footer */

footer {
    margin-top: 1rem;
    padding: 1rem;
    border-top: 1px solid white;
    position: sticky;
    bottom: 0;
    background-color: #050301;
}

/* Que el footer deje de ser sticker para que no se junten los íconos */
@media (max-width: 640px) {
    footer {
        position: static;
    }
}

footer ul {
    margin-top: 1rem;
}

footer ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}

footer ul li a img {
    height: 1.5rem;   
}

.logoWeb {
    background-color: #fff5ee;  
    border-radius: 1rem; 
}

/* Index */

.fotoVivo {
    width: 30%;
    margin: 5px;
    border-radius: 100px;
    filter: drop-shadow(0 0 1rem darkslategray);
}

.fotoSola {
    width: 100%;
    margin: 5px;
    border-radius: 300px;
    filter: drop-shadow(0 0 1rem darkslategray);
}

.cajaFotos {
    text-align: center;
}

article {
    background-color: #2d2e29;
    border-radius: 30px;
    padding: 1rem;
    border: darkslategray 3px solid;
}

article p {
    background-color: #3B3C36;
    border-radius: 30px;
    padding: 1rem;
}

/* Integrantes */

.fotoIntegrantes {
    border-radius: 300px;
    width: 100%;
    filter: drop-shadow(2px 2px 0.1rem rgb(49, 0, 10));
}

.descripcion {
    background-color: #3B3C36;
    border-radius: 30px;
    padding: 1rem;
}

/* Videos */

iframe {
    border-radius: 30px;
    width: 100%;
    outline: 3px solid darkslategray;
}

/* Formulario */

form {
    margin: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

input[type=text],
select {
    display: block;
    width: 300px;
    padding: 10px;
    border: 3px solid darkslategray;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Contorno y relleno del formulario cuando se lo selecciona */
input[type=text]:focus, 
select:focus,
textarea:focus { 
    outline: 2px solid hsla(195, 83%, 58%, 0.2);
    background-color: rgba(40, 60, 70);
    color: white;
}

textarea {
    display: block;
    width: 660px;
    padding: 10px;
    border: 3px solid darkslategray;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* El cuadro de mensaje deja de tener tamaño fijo para convivir con el mapa */
@media (max-width: 1440px) {
    textarea {
        width: 100%;
    }
}

input[type=submit],
input[type=reset] {
    background-color: #333;
    color: white;
    border: 3px solid #28282B;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
}

/* Borde y relleno de los botones cuando se los selecciona */
input[type=submit]:active,
input[type=reset]:active {
    background-color: #222;
    border: 3px solid darkslategray;
}